doctype html
html
  include Layout
  style
    include ../stylesheets/ClassStyle.css
  script
    include ../javascripts/ClassScript.js
  body
    include NavbarView
    .container-tab
      .div-title
        h4
          i.fas.fa-house-user
            |  &nbsp;  Lớp học
      #divSearch.div-search
        mixin searchTea(id,title,type,placeholder)
          .row(style='margin-top:10px')
            label.col-md-5.col-sm-5.col-5(style='padding-top:6px;padding-right:10px;') #{title}:
            .col-md-7.col-sm-7.col-7
              input.form-control(type=type placeholder=placeholder id=id) 
        .col-md-12.col-sm-12.col-12
          .row
            .col-md-4.col-sm-4.col-4
              +searchTea('txtSearchClassCode','Mã lớp học','text',"Nhập mã lớp học") 
            .col-md-4.col-sm-4.col-4
              +searchTea('txtSearchSubjectCode','Mã học phần','text',"Nhập mã học phần")
            .col-md-4.col-sm-4.col-4
              .row(style='margin-top:10px')
                label.col-md-4.col-sm-4.col-4(style='padding-top:6px;padding-right:10px;') Trạng thái:
                .col-md-7.col-sm-7.col-7
                  select#seachClassStatus.form-control(name='status' )
                    option(value='') --Lựa chon--
                    option(value='0') Đã bị hủy
                    option(value='1') Đang học
                    option(value='2') Đã hoàn thành
        .col-md-7.offset-md-4(style='margin-top:20px')
          button#btnSearchClass.btn.btn-primary(type="button" style='margin-right:100px')
            i.fas.fa-search
              | &nbsp;  Tìm kiếm
          button#btnAddClass.btn.btn-danger(type="button" data-toggle='modal' data-target='#addClassModal')
            i.fas.fa-plus-square
              | &nbsp;  Thêm lớp học
      .container-fluid
        #tableClass
    include ../modals/AddClassModal
    #divModalEditClass