doctype html
html
  include Layout
  //- <link rel="stylesheet" href="/stylesheets/listClass.css" >
  //- script(src='/javascripts/listClass.js')
  style
    include ../stylesheets/ClassStyle.css
  script
    include ../javascripts/ClassScript.js
  body
    include NavbarView
    .container-tab
      .div-title
        h4
          i.fas.fa-house-user
            |  &nbsp;  Lớp học
      .container-fluid