doctype html
html
  include Layout
  style
    include ../stylesheets/ClassStyle.css
  script
    include ../javascripts/ClassScript.js
  body
    include NavbarView
    .container-tab
      .div-title
        h4
          i.fas.fa-house-user
            |  &nbsp;  Lớp học
      #divSearch.div-search
        mixin searchTea(id,title,type,placeholder)
          .row(style='margin-top:10px')
            label.col-md-5.col-sm-5.col-5(style='padding-top:6px;padding-right:10px;') #{title}:
            .col-md-7.col-sm-7.col-7
              input.form-control(type=type placeholder=placeholder id=id) 
        .col-md-12.col-sm-12.col-12
          .row
            .col-md-4.col-sm-4.col-4
              +searchTea('txtSearchClassCode','Mã lớp học','text',"Nhập mã lớp học") 
            .col-md-4.col-sm-4.col-4
              +searchTea('txtSearchSubjectCode','Mã học phần','text',"Nhập mã học phần")
            .col-md-4.col-sm-4.col-4
              .row(style='margin-top:10px')
                label.col-md-4.col-sm-4.col-4(style='padding-top:6px;padding-right:10px;') Trạng thái:
                .col-md-7.col-sm-7.col-7
                  select#seachClassStatus.form-control(name='status' )
                    option(value='') --Lựa chon--
                    option(value='0') Đã bị hủy
                    option(value='1') Đang học
                    option(value='2') Đã hoàn thành
        .col-md-9.offset-md-3(style='margin-top:20px')
          button#btnSearchClass.btn.btn-primary.mr-3(type="button" )
            i.fas.fa-search
              | &nbsp  Tìm kiếm
          button#btnAddClass.btn.btn-danger.mr-3(type="button" data-toggle='modal' data-target='#addClassModal')
            i.fas.fa-plus-square
              | &nbsp  Thêm lớp học
          button#updateStatus.btn.btn-secondary.mr-3(type="button" onclick="updateStatus()")
            i.fas.fa-edit
              | &nbsp  Cập nhật trạng thái 
          button#btnImport.btn.btn-success(data-target='#mdImport' data-toggle='modal')
              i.fa.fa-upload
              |  Import lớp học
      .container-fluid
        #tableClass
    include ../modals/AddClassModal
    #divModalEditClass
    #mdImport.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header(style='background-color: #28a745;color: white;')
            h5.modal-title
              i.fa.fa-upload(aria-hidden='false')
                | &nbsp Import danh sách lớp học
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times
          .modal-body(id='')
            form#frmImport(method='post', enctype='multipart/form-data')
              .row.mt-2
                .col-md-12
                  .input-group
                    .input-group-prepend
                      span#inputGroupFileAddon01.input-group-text Tải lên
                    .custom-file
                      input#txtFile.custom-file-input(type='file', name='txtFile', aria-describedby='inputGroupFileAddon01'  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel")
                      label.custom-file-label(for='inputGroupFile01') chọn file
              .row.mt-2
                .modal-footer
                  button.btn.btn-success(type='button', onclick='importClass()') Import
                  button.btn.btn-secondary(type='button', data-dismiss='modal') đóng
            script.
              $('#mdImport #txtFile').on('change', function () {
              //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('#mdImport .custom-file-label').html(fileName);
              });
