
doctype html
html
  include Layout
  style
    include ../stylesheets/HomeStyle.css
  script
    include ../javascripts/HomeScript.js
  body
    include NavbarView
    .container-tab
      .div-title
        h4
          i.fas.fa-tachometer-alt
            |  &nbsp;  Tổng quan      
      .container-fluid      
        .row(style="margin-right:20px")
          // Count item widget
          //- .row.col-md-6
          .col-md-3
            #student-selection.selection
              .wrapper.count-title.d-flex
                .icon
                  i.fas.fa-user-graduate
                .name
                  strong.text-uppercase Sinh viên 
                  br
                  span Số lượng : 
                  //- p#numberStudent

          .col-md-3
            #teacher-selection.selection
              .wrapper.count-title.d-flex
                .icon
                  i.fas.fa-chalkboard-teacher
                .name
                  strong.text-uppercase Giáo viên
                  br
                  span Số lượng : 
          //- .row.col-md-6
          .col-md-3
            #class-selection.selection
              .wrapper.count-title.d-flex
                .icon
                  i.fas.fa-house-user
                .name
                  strong.text-uppercase Lớp học
                  br
                  span Số lượng: 
          .col-md-3
            #subject-selection.selection
              .wrapper.count-title.d-flex
                .icon
                  i.fas.fa-book
                .name
                  strong.text-uppercase Môn học
                  br
                  span Số lượng: 


