//- doctype html
head
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >  
    //- <link rel="stylesheet" href="/stylesheets/nav.css" >
    style
        include ../stylesheets/nav.css
    script
        include ../javascripts/nav.js
        
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js') 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js')
    //- script(src='http://localhost:8080/public/dist/bundle.js')
    //- script(src='/javascripts/home.js')
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    //- link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css')
    //- link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    //- script(type='text/javascript', src='https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js')
    //- script(type='text/javascript', src='https://pagination.js.org/dist/2.1.5/pagination.min.js')
    //- script(type='text/javascript', src='https://pagination.js.org/dist/2.1.5/pagination.js')