doctype html
html
  include layout
  //- <link rel="stylesheet" href="/stylesheets/listClass.css" >
  //- script(src='/javascripts/listClass.js')
  style
    include ../stylesheets/listClass.css
  script
    include ../javascripts/listClass.js
  body
    include nav
    .container-tab
      .div-title
        h4
          i.fas.fa-house-user
            |  &nbsp;  Lớp học
      .container-fluid