doctype html
html
  include layout
  //- <link rel="stylesheet" href="/stylesheets/listTeacher.css" >
  //- script(src='/javascripts/listTeacher.js')
  style
    include ../stylesheets/listTeacher.css
  script
    include ../javascripts/listTeacher.js
  body
    include nav
    .container-tab
      .div-title
        h4
          i.fas.fa-chalkboard-teacher
            |  &nbsp;  Giáo viên
      .container-fluid