doctype html
html
  include layout
  //- <link rel="stylesheet" href="/stylesheets/listStudent.css" >
  //- script(src='/javascripts/listStudent.js')
  style
    include ../stylesheets/listStudent.css
  script
    include ../javascripts/listStudent.js
  body
    include nav
    .container-tab
      .div-title
        h4
          i.fas.fa-user-graduate
            |  &nbsp;  Sinh viên
      .div-search
        .col-md-10.col-sm-10.col-10
          //- h6 Nhập MSSV : &nbsp;  
          input#txtName.form-control.col-md-4.col-sm-4.col-4(type="text" placeholder="Nhập tên sinh viên")
          input#txtMssv.form-control.col-md-3.col-sm-3.col-3(type="number" placeholder="Nhập mã số sinh viên")
          button#btnSearch.btn.btn-primary
            i.fas.fa-search
              | &nbsp;  Tìm kiếm
      .container-fluid
        #tableStudent
      
          




