doctype html
html
  include layout
  //- <link rel="stylesheet" href="/stylesheets/listStudent.css" >
  //- script(src='/javascripts/listStudent.js')
  style
    include ../stylesheets/listStudent.css
  script
    include ../javascripts/listStudent.js
  body
    include nav
    .container-tab
      .div-title
        h4
          i.fas.fa-user-graduate
            |  &nbsp;  Sinh viên
      .container-fluid 