doctype html
html
    include Layout
    style
        include ../stylesheets/TeacherStyle.css
    script
        include ../javascripts/TeacherScript.js
    body
        include NavbarView
        .container-tab
            .div-title
                h4
                    i.fas.fa-chalkboard-teacher
                        |  &nbsp;  Giáo viên
            .div-search
                .col-lg-10.offset-lg-2
                    .row(style='margin-bottom:35px')
                        .col-md-5
                            .row
                                label.col-md-4.col-sm-4.col-4(style='padding-top:6px;padding-right:10px;') Tên giáo viên:
                                .col-md-8.col-sm-8.col-8
                                    input#txtSearchTeacherName.form-control(type="text" placeholder="Nhập tên giáo viên") 
                            .row(style='margin-top: 35px;')
                                label.col-md-4.col-sm-4.col-4(style='padding-top:6px;padding-right:10px;') Số điện thoại :
                                .col-md-8.col-sm-8.col-8
                                    input#txtSearchTeacherPhone.form-control(type="number" placeholder="Nhập số điện thoại")
                        .col-md-4.col-sm-4.col-4
                            .row
                                label.col-md-4.col-sm-4.col-4(style='padding-top:6px;padding-right:10px;') Trạng thái :
                                .col-md-8.col-sm-8.col-8
                                    select#searchTeacherStatus.form-control(name='status')
                                        option(value='') --Lựa chon--
                                        option(value='0') Đã nghỉ 
                                        option(value='1') Thực tập
                                        option(value='2') Chính thức
                .col-lg-7.offset-lg-4
                    button#btnSearchTeacher.btn.btn-primary(type="button" style='margin-right:50px')
                        i.fas.fa-search
                            | &nbsp;  Tìm kiếm
                    button#btnAddTeacher.btn.btn-danger(type="button" data-toggle='modal' data-target='#addTeacherModal')
                        i.fas.fa-user-plus
                            | &nbsp;  Thêm giáo viên
                    button#btnImport.btn.btn-success.ml-5(data-target='#mdImport' data-toggle='modal')
                        i.fa.fa-upload
                        |  Import giáo viên
                    .container-fluid
            .container-fluid
                #tableTeacher
        include ../modals/AddTeacherModal
        #divModalEditTeacher
            #mdImport.modal.fade(tabindex='-1' role='dialog')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header(style='background-color: #28a745;color: white;')
                            h5.modal-title
                                i.fa.fa-upload(aria-hidden='false')
                                    | &nbsp Import danh sách giáo viên
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body(id='')
                            form#frmImport(method='post' enctype='multipart/form-data')
                                .row.mt-2
                                    .col-md-12
                                        .input-group
                                            .input-group-prepend
                                                span#inputGroupFileAddon01.input-group-text Tải lên
                                            .custom-file
                                                input#txtFile.custom-file-input(type='file' name='txtFile' aria-describedby='inputGroupFileAddon01' accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel")
                                                label.custom-file-label(for='inputGroupFile01') chọn file
                                .row.mt-2
                                    .modal-footer
                                        button.btn.btn-success(type='button' onclick='importTeacher()') Import
                                        button.btn.btn-secondary(type='button' data-dismiss='modal') đóng
                            script.
                                $('#mdImport #txtFile').on('change', function () {
                                //get the file name
                                    var fileName = $(this).val();
                                    //replace the "Choose a file" label
                                    $(this).next('#mdImport .custom-file-label').html(fileName);
                                });