doctype html
html
  include Layout
  //- <link rel="stylesheet" href="/stylesheets/listTeacher.css" >
  //- script(src='/javascripts/listTeacher.js')
  style
    include ../stylesheets/TeacherStyle.css
  script
    include ../javascripts/TeacherScript.js
  body
    include NavbarView
    .container-tab
      .div-title
        h4
          i.fas.fa-chalkboard-teacher
            |  &nbsp;  Giáo viên
      .container-fluid