//- script
//-     include ../node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js
//- style
//-     include ../node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css
#addClassModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addStudentTitle' aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content(style='color: #007bff')
            .modal-header(style='background-color: #d8061a')
                h5.modal-title(style='color: white;')
                    i.fas.fa-house-user(aria-hidden='false')
                    |   Thêm lớp
                button.close(type='button' data-dismiss='modal' aria-label='Close' style='color: white;' )
                    span(aria-hidden='true') &times;
            .modal-body(style='margin-bottom:20px;background-color: #f3f5f9;')
                .row(style='margin-bottom:20px;')
                    mixin propAddClass(id,title,type)
                        .row(style='margin-top:20px;')
                            label.col-md-6.col-sm-6.col-6(style='padding-top:6px;padding-right:10px;') #{title}:
                            .col-md-6.col-sm-6.col-6(style='margin-bottom:20px;')
                                input.form-control(type=type id=id maxlength="50")   
                    .col-md-6.col-sm-6.col-6
                        +propAddClass('txtClassCode','Mã lớp hoc','text')
                        +propAddClass('txtSubjectCode','Mã môn học','text')
                    .col-md-6.col-sm-6.col-6
                        +propAddClass('txtTeacherPhone','Số điện thoại giáo viên','number')
                    .row.col-md-12(style='margin-bottom:20px;margin-top:20px')
                        label.col-md-2.col-sm-2.col-2 Lịch học:
                        .col-md-6.col-sm-6.col-6
                            input#schedule1.form-control(type='text')   
                            input#schedule2.form-control(type='text' style="margin-top:20px")   
                //- script(type='text/javascript').
                //-     $(document).ready(function(){
                //-         $('#timepicker2').timepicker({
                //-             minuteStep: 1,
                //-             template: 'modal',
                //-             appendWidgetTo: 'body',
                //-             showSeconds: true,
                //-             showMeridian: false,
                //-             defaultTime: false
                //-             });
                //-         });
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
                button.btn.btn-danger(type='button' onclick="addClass()") Thêm Lớp
